.container
{
  width: 500px;
  height: 300px;
  background-color: white;
  margin-top: 150px;
  margin-left: 450px;


}
.image_section
{
  width: 60%;
  height: auto;
  float: left;
}
.content
{
  width: 30%;
  height: auto;
  float: right;
}
.sus
{
  color: #E74444;
}
.size_section
{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 7px;
}
.btn
{
  height: 30px;
  border: 2px solid gray;
  border-radius: 2px;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover
{
  border: 2px solid black;
}
.search
{padding-left: 20px;
  font-size: 15px;
  height: 40px;
  width: 200px;
  outline: 0px;
  border: 0px;
  border-radius: 50px;
  background-color: rgb(229, 229, 229);
}